body {padding-top: 60px}
.page-header {margin-top: 5px;}
.navmenu {
	width: 100%;
}
.panel-icon, .panel-widget {
	text-align: center;
}
.panel-icon {
	padding: 17px 20px;
	float: left;
}
.panel-body.panel-widget-content {
	float: left;
	overflow: hidden;
	height: 90px;
}
.panel.panel-widget {
	overflow: hidden;
	color: #666;
}
@media(max-width: 767px) {
	.navmenu {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 1030;
		overflow-y: auto;
		border-radius: 0;right: auto;
		left: 0;
		border-width: 0 1px 0 0;
		width: 250px;
	}
	.navbar-header > .navbar-brand {
	  width: 70%;
	  text-align: center;
	}
}