/* RED */
.bg-alizarin {
	background: #e74c3c;
	color: #FFF;
}
.bg-pomegranate {
	background: #c0392b;
	color: #FFF;
}

/* GREEN */
.bg-emerald {
	background: #2ecc71;
	color: #FFF;
}
.bg-nephritis {
	background: #27ae60;
	color: #FFF;
}

/* GREN CYAN */
.bg-green-sea {
	background: #3498db;
	color: #FFF;
}
.bg-tourquise {
	background: #1abc9c;
	color: #FFF;
}

/* BLUE */
.bg-peter-river {
	background: #9b59b6;
	color: #FFF;
}
.bg-belize-hole {
	background: #2980b9;
	color: #FFF;
}

/* YELLOW */
.bg-sun-flower {
	background: #f1c40f;
	color: #FFF;
}
.bg-orange {
	background: #f39c12;
	color: #FFF;
}

/* ORANGE */
.bg-carrot {
	background: #e67e22;
	color: #FFF;
}
.bg-pumpkin {
	background: #d35400;
	color: #FFF;
}

/* NAVI */
.bg-wet-asphalt {
	background: #34495e;
	color: #FFF;
}
.bg-midnight-blue {
	background: #2c3e50;
	color: #FFF;
}

/* SILVER */
.bg-cloud {
	background: #ecf0f1;
	color: #FFF;
}
.bg-silver {
	background: #bdc3c7;
	color: #FFF;
}

/* ABU-ABU */
.bg-concrete {
	background: #95a5a6;
	color: #FFF;
}
.bg-asbestos {
	background: #7f8c8d;
	color: #FFF;
}

/* PURPLE */
.bg-wisteria {
	background: #8e44ad;
	color: #FFF;
}

.bg-amethyst {
	background: #9b59b6;
	color: #FFF;
}

.bg-white {
	background: #FFF;
	color: #333;
}