.marketplace #search {
	margin-top: 20px;
	margin-bottom: 30px;
	display: block;
	overflow: hidden;
}

.marketplace #search > form {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	display: block;
	height: auto;
	overflow: hidden;
}
.marketplace .search-nav > .list-inline {
	margin-bottom: -5px;
}

.marketplace .search-nav > .list-inline > li {
	margin-bottom: 5px;
} 